html {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

body {
  margin: 0 !important;
}
.v-main__wrap{
  max-height: calc(100vh - (48px + 28px) ) !important;
  overflow: auto !important;
}
.v-overlay{
  position: absolute !important;
}


.theme--dark.v-application {
  background: #1e1e1e !important;
}

.v-dialog__content {
  height: calc(100vh - (28px) ) !important;
  bottom:0 !important;
  top: unset !important;
}

.v-dialog--fullscreen{
  position: absolute !important;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 28px !important;
  border: 6px solid transparent !important;
  background-clip: padding-box !important;
}

/* LIGHT THEME SCROLLBAR */
/* Track */
.theme--light ::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.theme--light ::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}

/* Handle on hover */
.theme--light ::-webkit-scrollbar-thumb:hover {
  border-width: 4px !important;
  /* background: #000000; */
}

/* DARK THEME SCROLLBAR */
/* Track */
.theme--dark ::-webkit-scrollbar-track {
  background: #1e1e1e;
}

/* Handle */
.theme--dark ::-webkit-scrollbar-thumb {
  background: #d1d1d1;
}

/* Handle on hover */
.theme--dark ::-webkit-scrollbar-thumb:hover {
  border-width: 4px !important;
  /* background: #ffffff; */
}

.overflow-y-scroll {
  overflow: scroll !important;
  overflow-x: hidden !important;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events {
  pointer-events: all;
}

/* TABLE SELECTED */
.theme--light.v-data-table tbody tr.v-data-table__selected {
  background: var(--v-secondary-lighten1) !important;
}

.theme--dark.v-data-table tbody tr.v-data-table__selected {
  background: var(--v-secondary-base) !important;
}